.map-selector {
  width: 110px;
  height: 80px;
  position: fixed;
  display: flex;
  flex-direction: row;
  right: 10px;
  bottom: 10px;
  z-index: 10;
  .map-option {
    position: absolute;
    right: 0px;
    top: 0;
    width: 110px;
    height: 80px;
    background: transparent;
    transition: all 0.15s;
    img {
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 10px black;
      }
    }
  }
  @for $i from 1 to 10 {
    .map-option:nth-child(#{$i}) {
      z-index: #{30 - $i};
    }
  }
  &:hover {
    @for $i from 1 to 10 {
      .map-option:nth-child(#{$i}) {
        right: #{($i - 1) * 120}px;
        padding-left: 10px;
        // padding-right: 10px;
      }
    }
  }
}
